.content {
  cursor: url('pics/mouse.png');
}

.content2 {
  margin-top: 150px;
  cursor: url('/pics/mouse.png');
}

h1 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 70px;
  text-shadow: 0.05em 0.05em #db7986;
}

p {text-align: center;}
div {text-align: center;}

.h2 {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

table {
  border: 2px solid white;
  border-collapse: collapse;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid white;
  padding:1em;
  font-size: 1.4em;
}

/* Create two equal columns that floats next to each other */
.column {
  float: center;
  flex:50%;
  width: 50%;
  padding-top: 2em;
  padding-left: 8em;
  padding-right: 8em;
}

.row {
  display: flex;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #db7986;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #d9d8bf;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #a3c8d9;
  color: white;
}

.typewriter_header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 40px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: 
    typing 4.0s steps(50, end),
    blink-caret .75s step-end infinite;
}

/*typewriter effect code*/
.typewriter p {
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 23px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 4.0s steps(50, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }

/* rainbow text hover https://fossheim.io/writing/posts/css-text-gradient/ */

/* animated color gradient background */
html, body {
  width: 100%;
  height:100%;
  padding: 0;
  margin: 0;
}

body {
    background: linear-gradient(-45deg, #d9d8bf, #f0bfc9, #a3c8d9, #c4ddbc);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #cccbb3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #db7986;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}